<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title></title>
{%include file="../public_meta.html"%}
<script type="text/javascript">
<!--
$(document).ready(function(){
    var startOptions = {  
            formatter: function (date) {  
                var y = date.getFullYear();  
                var m = date.getMonth() + 1;  
                var d = date.getDate();  
                return y + "-" + (m < 10 ? ("0" + m) : m) + "-" + (d < 10 ? ("0" + d) : d)+" 00:00:01";  
            }  
    }
    var overOptions = {  
            formatter: function (date) {  
                var y = date.getFullYear();  
                var m = date.getMonth() + 1;  
                var d = date.getDate();  
                return y + "-" + (m < 10 ? ("0" + m) : m) + "-" + (d < 10 ? ("0" + d) : d)+" 23:59:59";  
            }  
    }
    $('#startDate').datebox(startOptions,"setValue", "{%$startDate%}");
    $('#overDate').datebox(overOptions,"setValue", "{%$overDate%}");
    $("#searchButton").click(function(){
        var startDate = $.trim($('#startDate').datebox('getValue')),overDate = $.trim($('#overDate').datebox('getValue')),searchTag=$.trim($('#searchTag').val()),searchIp=$.trim($('#searchIp').val());
        document.location.href='index.php?controller=system&action=advertiserMemberSystemLogManage&searchTag='+searchTag+'&startDate='+startDate+'&overDate='+overDate+'&searchIp='+searchIp;
    });
});
//-->
</script>
</head>
<body>
<div id="mainTB">
    <div class="pageTitle">广告主日志管理</div>
    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="mainTable">
    <tr>
        <td colspan="6" style="text-indent:10px;border-right:none;height:40px">
            <span>查询：</span>
            <span><input type="text" id="searchTag" name="searchTag" value="{%$searchTag%}" style="width:120px" class="searchBox" /></span>
            <span>开始日期：</span>
            <span><input type="text" id="startDate" name="startDate" value="{%$startDate%}" readonly="readonly" style="width:160px;text-align:center;cursor:pointer" class="searchBox" /></span>
            <span>结束日期：</span>
            <span><input type="text" id="overDate" name="overDate" value="{%$overDate%}" readonly="readonly" style="width:160px;text-align:center;cursor:pointer" class="searchBox" /></span>
            <span>IP：</span>
            <span><input type="text" id="searchIp" name="searchIp" value="{%$searchIp%}" style="width:100px;text-align:center" class="searchBox" /></span>
            <span><a id="searchButton" class="easyui-linkbutton" icon="icon-search" href="javascript:void(0)">查看</a></span>
        </td>
    </tr>
    <tr>
        <th><span class="tableHeadTitle">广告主ID</span></th>
        <th><span class="tableHeadTitle">帐号</span></th>
        <th><span class="tableHeadTitle">客户名称</span></th>
        <th><span class="tableHeadTitle">登录IP</span></th>
        <th><span class="tableHeadTitle">登陆地点</span></th>
        <th><span class="tableHeadTitle">登录时间</span></th>
    </tr>
    {%section name=id loop=$recordList%}
    <tr>
        <td class="firstRow" style="line-height:24px;text-align:center">{%$recordList[id].member_id%}</td>
        <td class="firstRow" style="line-height:24px;text-align:center">{%$recordList[id].user_name%}</td>
        <td class="firstRow" style="line-height:24px;text-align:center">{%$recordList[id].site_name%}</td>
        <td class="firstRow" style="line-height:24px;text-align:center">{%$recordList[id].ip%}</td>
        <td class="firstRow" style="line-height:24px;text-align:center">{%$recordList[id].address%}</td>
        <td class="firstRow" style="line-height:24px;text-align:center">{%$recordList[id].time%}</td>
    </tr>
    {%/section%}
    </table>
    {%$pageList%}
</div>
</body>
</html>