<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title></title>
{%include file="../public_meta.html"%}
<script type="text/javascript">
<!--

$(document).ready(function(){
    $(document).keydown(function(e){
        if(e.keyCode==13){
            document.location.href='index.php?controller=system&action=systemMemberManage&searchTag='+$.trim($('#searchTag').val());
        }
    });
    $("#searchButton").click(function(){
        document.location.href='index.php?controller=system&action=systemMemberManage&searchTag='+$.trim($('#searchTag').val());
    });
    $("#createManagerButton").click(function(){
        document.location.href='index.php?controller=system&action=systemDeal&dType=systemCreateManager';
    });
});

function modifyAccount (accountId) {
    document.location.href='index.php?controller=system&action=systemDeal&dType=systemModifyManager&accountId='+accountId;
}


function lockAccount (accountId) {
    $.messager.confirm('提示','确定要锁定该帐号么？',function(r){   
        if (r){
            document.location.href='index.php?controller=system&action=systemDeal&dType=systemLockManager&accountId='+accountId;
        }else{
            return false;
        }
    });
}

function unLockAccount (accountId) {
    $.messager.confirm('提示','确定要解除该帐号的锁定么？',function(r){   
        if (r){
            document.location.href='index.php?controller=system&action=systemDeal&dType=systemUnLockManager&accountId='+accountId;  
        }else{
            return false;
        }
    });
}
function sickManagerSystemLog(userName,token){
    document.location.href="index.php?controller=system&action=systemDeal&dType=systemSickManageLog&userAccount="+userName+"&token="+token;
}
//-->
</script>
</head>
<body>
<div id="mainTB">
    <div class="pageTitle">帐号管理</div>
    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="mainTable">
    <tr>
        <td colspan="10" style="text-indent:10px;border-right:none;height:40px">
            <span>关键字：<input type="text" id="searchTag" name="searchTag" value="{%$searchTag%}" style="width:180px" class="searchBox" /></span>
            <span style="margin-left:10px"><a id="searchButton" class="easyui-linkbutton" icon="icon-search" href="javascript:void(0)">搜索</a></span>
            <span style="margin-left:10px"><a id="createManagerButton" class="easyui-linkbutton" icon="icon-edit" href="javascript:void(0)">创建</a></span>
        </td>
    </tr>
    <tr>
        <th><span class="tableHeadTitle">帐号</span></th>
		<th><span class="tableHeadTitle">日志</span></th>
        <th><span class="tableHeadTitle">姓名</span></th>
        <th><span class="tableHeadTitle">紧急联系电话</span></th>
        <th><span class="tableHeadTitle">用户标识</span></th>
        <th><span class="tableHeadTitle">客户上限</span></th>
        <th><span class="tableHeadTitle">最后登录时间</span></th>
        <th><span class="tableHeadTitle">登陆次数</span></th>
        <th><span class="tableHeadTitle">状态</span></th>
        <th style="border-right:0"><span class="tableHeadTitle">操作</span></th>
    </tr>
    {%section name=id loop=$accountList%}
    <tr>
        <td class="firstRow" style="text-align:center;height:28px;line-height:28px;text-align:left;padding-left:10px">{%$accountList[id].user_account%}</td>
		<td class="firstRow" style="text-align:center">
		<span><a id="searchButton" class="easyui-linkbutton" icon="icon-search" href="javascript:sickManagerSystemLog('{%$accountList[id].user_account%}','{%math equation=rand(1000,100000)%}')">查看</a></span></span>
        </td>
        <td class="firstRow" style="text-align:center">{%$accountList[id].true_name%}</td>
        <td class="firstRow" style="text-align:center">{%$accountList[id].mobile%}</td>
        <td class="firstRow" style="text-align:center">
            {%$accountList[id].user_role_tag%}{%$accountList[id].role_type_tag%}
        </td>
        <td class="firstRow" style="text-align:center">
        {%if $accountList[id].customer_limit!=0%}
            {%$accountList[id].customer_limit%}
        {%else%}
            不限制
        {%/if%}
        </td>
        <td class="firstRow" style="text-align:center">{%$accountList[id].last_time%}</td>
        <td class="firstRow" style="text-align:center;color:#FF0000;width:80px">{%$accountList[id].login_count%}</td>
        <td class="firstRow" style="text-align:center;width:72px;font-weight:bold;color:{%if $accountList[id].is_closed==0%}#31853A{%else%}#FF0000{%/if%}">{%$accountList[id].is_closed_tag%}</td>
        <td class="firstRow" style="text-align:center;width:180px">
        {%if $activeRole eq -1 || ($activeRole eq 0 && $activeRoleType eq 0)%}
            {%if $activeManager eq $accountList[id].admin_id%}
                 <span><font style="color:#EFEFEF">管理帐号</font></span>
            {%else%}
                {%if $accountList[id].is_closed==0%}
                <span><a class="easyui-linkbutton" icon="icon-save" href="javascript:lockAccount('{%$accountList[id].admin_id%}');">锁定</a></span>
                {%else%}
                <span><a class="easyui-linkbutton" icon="icon-save" href="javascript:unLockAccount('{%$accountList[id].admin_id%}');">解锁</a></span>
                {%/if%}
                <span><a class="easyui-linkbutton" icon="icon-edit" href="javascript:modifyAccount('{%$accountList[id].admin_id%}');">编辑</a></span>
            {%/if%}
        {%else%}
            {%if $accountList[id].user_role!=-1 && $accountList[id].user_role!=0%}
                {%if $accountList[id].is_closed==0%}
                <span><a class="easyui-linkbutton" icon="icon-save" href="javascript:lockAccount('{%$accountList[id].admin_id%}');">锁定</a></span>
                {%else%}
                <span><a class="easyui-linkbutton" icon="icon-save" href="javascript:unLockAccount('{%$accountList[id].admin_id%}');">解锁</a></span>
                {%/if%}
                <span><a class="easyui-linkbutton" icon="icon-edit" href="javascript:modifyAccount('{%$accountList[id].admin_id%}');">编辑</a></span>
                {%else%}
                <span><font style="color:#EFEFEF">管理帐号</font></span>
            {%/if%}
        {%/if%}
        </td>
    </tr>
    {%/section%}
    </table>
    {%$pageList%}
</div>
</body>
</html>