<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title></title>
{%include file="../public_meta.html"%}

<script type="text/javascript">
<!--
$(document).ready(function(){
	$(document).keydown(function(e){
		if(e.keyCode==13){
			document.location.href = 'index.php?controller=system&action=systemNotice&searchTag='+$('#searchTag').val();
		}
	});
	$("#searchButton").click(function(){
		document.location.href = 'index.php?controller=system&action=systemNotice&searchTag='+$('#searchTag').val();
	});
	$("#createButton").click(function(){
		document.location.href = 'index.php?controller=system&action=systemDeal&dType=createNotice';
	});
});
function noticeModify(id){
	document.location.href = 'index.php?controller=system&action=systemDeal&dType=noticeModify&id='+id;
}
function deleteNotice(id){
	document.location.href = 'index.php?controller=system&action=systemDeal&dType=deleteNotice&id='+id;
}

</script>
</head>
<body>
<div id="mainTB">
	<div class="pageTitle">公告管理</div>
	<table width="100%" border="0" cellpadding="0" cellspacing="0" class="mainTable">
		<tr>
			<td colspan="3" style="text-indent:10px;border-right:none;height:40px">
				<span title="请输入项目名称进行快速查询">
					关键字：<input type="text" id="searchTag" name="searchTag" value="{%$searchTag%}" style="width:170px" class="searchBox" />
				</span>
				<span style="margin-left:10px"><a id="searchButton" class="easyui-linkbutton" icon="icon-search" href="javascript:void(0)">搜索</a></span>
				<span style="margin-left:20px"><a id="createButton" class="easyui-linkbutton" href="javascript:void(0)">创建</a></span>
			</td>
		</tr>
	</table>
	<table width="100%" border="0" cellpadding="0" cellspacing="0" class="mainTable">
	<tr>
		<th width="50px"><span class="tableHeadTitle">ID</span></th>
		<th style="text-align:left;padding-left:50px;width:500px"><span class="tableHeadTitle">标题</span></th>
		<th><span class="tableHeadTitle">发布日期</span></th>
		<th style="border-right:0"><span class="tableHeadTitle">操作</span></th>
	</tr>
	{%section name=id loop=$noticeList%}
	<tr style="margin-top:5px;">
		<td style="text-align:center">{%$noticeList[id].id%}</td>
		<td style="padding-left:50px">{%$noticeList[id].title%}</td>
		<td style="text-align:center">{%$noticeList[id].time%}</td>
		<td style="text-align:center;border-right:0;padding:10px;">
			<a class="easyui-linkbutton" href="javascript:noticeModify('{%$noticeList[id].id%}');">修改</a>
			<a class="easyui-linkbutton" style="margin-left:30px" href="javascript:deleteNotice('{%$noticeList[id].id%}');">删除</a>
		</td>
	</tr>
	{%/section%}
	</table>
	{%$pageList%}
</div>
</body>
</html>